/* .tentativas {
    margin: auto;
    width: 50%;
    background-color: grey;
    text-align: center;
}
/* table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
} */

/* .linhas {
    margin: -12px auto;
    width: 30px;
    height: 30px;
    background-color: black;
}
.colunas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.colunas p {
    background-color: black;
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 8px;
} */
body {
    background-color: rgb(143, 101, 101);
    font-family: 'Mulish', sans-serif, 'Lato', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 0;
}
h1{
    background-color: rgb(143, 101, 101);
    padding: 0 50px;
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto;
}
p {
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 4px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgb(43, 39, 39);
}
#alerta {
    margin-top: 0;
    box-sizing: border-box;
    background-color: lightseagreen;
    font-size: 1.3rem;
    padding: 5px 20px;
    border-radius: 8px;
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .tentativas {
    display: grid;
    grid-template-columns: repeat(5, 52px);
    grid-template-rows: repeat(6, 52px);
    grid-gap: 4px;
}
.tentativas div {
    background-color: rgb(122, 89, 89);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 2rem;
} */

/* tentativas */
.linha {
    display: grid;
    grid-template-columns: repeat(5, 52px);
    grid-template-rows: 52px;
    gap : 4px;
    margin-bottom: 4px;
}
.linha-selecionada div {
    background-color: rgb(143, 101, 101);
}
/*#linha-selecionada div{*/
/*    box-sizing: border-box;*/
/*    background-color:rgb(143, 101, 101);*/

/*}*/
/* .primeira-linha {
    display: grid;
    grid-template-columns: repeat(5, 52px);
    grid-template-rows: 52px;
    grid-gap: 4px;
    margin-bottom: 4px;
} */

.letra {

    background-color: rgb(122, 89, 89);
    border-radius: 5px;
    border: 4px solid rgb(122, 89, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 2rem;
}

#letra-selecionada {
    box-sizing: border-box;
    /* background-color:rgb(143, 101, 101);
    border: 4px solid rgb(122, 89, 89); */
    border-bottom: 7px solid rgb(122, 89, 89);
}

/* resultados do termo */
#letra-certa  {
    background-color:lightseagreen;
    border: none;
}
#posicao-errada {
    background-color: lightsalmon;
     border: none;

}
#letra-errada {
    background-color: rgb(66, 50, 50);
     border: none;

}

/* teclado */
.teclado {
    box-sizing: border-box;
    width: 50%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    /* quando usa a propriedade flex-direction, inverte também o  efeito das propriedades align-items e justify-content */
    /* align-items: center; */
    /* justify-content: end;
   ; */
    font-size: 1.3rem;
    font-weight: 900;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.row.fileira2 {
    margin-left: 30px;
}
.row.fileira3 {
    margin-left: 60px;
}
.tecla {
    background-color: rgb(85, 63, 63);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 45px;
    margin: 2px;
}
#enter {
    box-sizing: border-box;
    padding: 0 30px;
    width: fit-content;
    margin-left: auto;
}
#backspace {
    box-sizing: border-box;
    margin-left: auto;
}

@media (max-width: 1000px) {
    .teclado {
        width: 70%;
    }
    .tecla {
        width: 3.5rem;
        height: 45px;
    }
}
@media (max-width: 700px) {
    .teclado {
        width: 100%;
    }
    .row.fileira1 {
        margin-left: 0;
    }
    .row.fileira2 {
        /* margin-left: 50px; */
        margin-left: 0;
    }
    .row.fileira3 {
        margin-left: 0;
    }
   
}
/*  */
#userInput {
    background-color: rgb(143, 101, 101);
    position:absolute;
    z-index: -1;
}
